**/.vscode/
**/.vs/
**/.idea/
**/.DS_Store

**/node_modules/
**/package/

**/*.log
**/*.js
**/*.map
**/*.taskkey
**/*.tsbuildinfo
**/*.loc.json
**/*.LEGAL.txt
**/*.zip
**/resources.resjson